body {
    font-family:"Story Script",Static
 ;
    align-items: center;
    display: flex;
    justify-content: center; 
    text-align: center;
    margin: 200px;
    color:#DEB887;
}

.a { 
    width:560px;
    height: 560px;
    background-color: #f2c9e6;
    border-radius:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}
h1{
    font-size:  80px;;
}
h2{
    font-size:  50px;;
}
#press{
    
    font-family:"Story Script",Static ;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 25%;  
    background-color:lightpink;
}
